.container{
  max-width:1000px;
  margin:auto;
  padding:20px;
}

.category{
  color:#16a34a;
  font-weight:bold;
}

.gallery{
  margin-top:20px;

}

.main-img{
  width:100%;
  height:400px;
  object-fit:cover;
  border-radius: 15px;
}

.thumbs{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.thumbs img{
  width:80px;
  height:60px;
  object-fit:cover;
  border-radius:8px;
  cursor:pointer;
  opacity:.7;
}

.thumbs img:hover{
  opacity:1;
}

.info{
  margin-top:30px;
}

.map iframe{
  width:100%;
  height:350px;
  border:0;
  border-radius:15px;
  margin-top:30px;
}

.nearby{
  margin-top: 50px;
}
.nearby h2{
  margin-bottom:20px;
}
.hotel-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap:20px;
}
.hotel-card{
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.hotel-card img{
  width:100%;
  height:160px;
  object-fit:cover;
}
.hotel-info{
  padding:15px;
}
.price{
  color:#16a34a;
  font-weight: bold;

}
.hotel-card button{
   margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.distance{
  font-size: 14px;
  color:#6b7280;
  margin:5px 0;
}
