.login-box{
  width:320px;
  margin:120px auto;
  padding:30px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  border-radius: 12px;
  text-align: center;
}

.login-box h2{
  margin-bottom: 20px;
  color:#166534;

}

.login-box input{
  width:100%;
  padding:10px;
  background: rgb(217, 255, 0);
  color:black;
  border:none;
  border-radius: 6px;
  cursor :pointer;
}

.login-box button:hover{
  background: #15803d;
}

.error{
  color:red;
  margin-top: 10px;
}
