.form{
  background: #fff;
  padding:20px;
  border-radius: 10px;
  max-width:600px;
  box-shadow: 0 2px 8px rgba;
}

.form input{
  width:100%;
  margin-bottom: 10px;
  padding:8px;
}

.form button{
  background: #2563eb;
  color:#fff;
  border:none;
  padding:10px;
  cursor:pointer;
}

.hotel-list{
  margin-top:30px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minimax(250px,1fr ));
  gap:20px;
}

.hotel-card{
  background: #fff;
  padding:15px;
  border-radius:10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.delete{
  background: #dc2626;
  color:white;
  border:none;
  padding:6px 10px;
  cursor:pointer;
}


