.title{
  text-align: center;
  margin:30px 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
  padding:20px;
}

.place-card{
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  transition: transform .3s;
}
.place-card:hover{
  transform:translateY(-6px);

}

.place-card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.place-card p{
  margin:0 10px;
  color:#555;
}

.view{
  display:block;
  padding:10px;
  text-align: center;
  background: #16a34a;
  color:white;
  text-decoration: none;
}

