.hotel-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 20px;
}

.hotel-card{
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.hotel-card img{
  width:100%;
  height: 180px;
  object-fit: cover;
}

.hotel-card h3,p{
  margin:10px;
}

.price{
  color:#16a34a;
  font-weight:bold;
  margin:0 10px;
}

.hotel-card button{
  width: 90%;
  margin:10px;
  padding:10px;
  background: #2563eb;
  color:white;
  border:none;
  border-radius: 20px;
}
