.footer{
  background: #064e3b;
  color:#ecfdf5;
  padding:40px 30px 20px;
  margin-top: 60px;
}

.footer-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
}

.footer h3, .footer h4{
  margin-bottom: 10px;

}

.footer a{
  display:block;
  color:#d1fae5;
  text-decoration:none;
  margin-bottom:6px;

}

.footer a:hover{
  text-decoration:underline;

}

.bottom{
  text-align:center;
  margin-top:30px;
  font-size:14pxl;
  color:#a7f3d0;
}
